[MAIN]
init-hook=import sys, pathlib; sys.path.insert(0, str(pathlib.Path().resolve() / "app"))

[MESSAGES CONTROL]
disable=
    broad-exception-caught,
    line-too-long,
    missing-module-docstring,
    missing-class-docstring,
    missing-function-docstring,
    mixed-line-endings,
    too-many-arguments,
    too-many-positional-arguments,
    too-many-locals,
    too-many-branches,
    too-many-statements,
    trailing-newlines,
    unused-import,
    unused-wildcard-import,
    wildcard-import
